<div id="map"></div>
<div class="container">
  <h1></i><%= @restaurant.name %></h1>
  <h3><i class="fa fa-map-marker"></i> <%= @restaurant.address %></h3>
  <p><i class="fa fa-phone"></i> <%= @restaurant.phone_number %></p>
  <p><i class="fa fa-cutlery"></i> <%= @restaurant.category %> cuisine</p>
  <h4>Reviews: </h4>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %>, <%= ('<i class="fa fa-star"></i>' * review.rating).html_safe %></p>
    <% end %>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
  </ul>
</div>

<script>
      function initMap() {
        var myLatLng = {lat: 48.865, lng: 2.3798};
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: myLatLng,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Awesome Coding Camp with Edouard Foussier!'
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
